Vivado/.Xil/
Vivado/logs/
Vivado/*.log
Vivado/*.jou
# UPDATER START
Vivado/ac701/
Vivado/kc705_hpc/
Vivado/kc705_lpc/
Vivado/kcu105_hpc/
Vivado/vc707_hpc1/
Vivado/vc709/
Vivado/vcu108_hpc0/
Vivado/vcu118/
# UPDATER END

dfx_runtime.txt
.repo.yaml
.memdata_temp_mem_file.mem
Vivado/*.bif
Vivado/*.pdi
Vivado/*.rcdo
Vivado/*.rnpi
Vivado/wdi_info.xml
__pycache__/
*.pyc
Vivado/gen_files/
Vivado/static_files/
